<header class="page-header">
    <h1>About this store</h1>
</header>
<article>
  Welcome to the Jungle! 
  Steo into a world of greenery and discouver the perfect companions for your space!
  Happy planting! 🌿
</article>